* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #010101;
    line-height: 1.6;
}

header {
     background:
        linear-gradient(
            120deg,
            rgba(221, 4, 210, 0.9),
            rgba(168, 85, 247, .65),
            rgba(244, 114, 182, .35)
        );
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow:0 2px 12px rgba(0, 0, 0, 0.2);
    
}

/*

-------------Menu bar----------

*/
.menu{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.menu-links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}
.menu-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}
.menu-link:hover{
    background-color: rgba(165, 24, 24, 0);
}
.menu-link--inside{
    padding: 10px 30px 10px 10px;

}
.menu-link--inside:hover{
         background-color:rgba(214, 25, 164, 0.208);
    color: black;
    border-color: #000000;
}

.menu-item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0,100% 0,100% 0,0 0);
}
.menu-item:hover{
    --clip: polygon(0 0,100% 0,100% 100%,0 100%);

}

.menu-nesting{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    list-style: none;
    background: #fafcfc;
    clip-path: var(--clip);
    transition: .3s;
    z-index: 200;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}



/* Section imagen */
.hero {
    min-height: 430px;
    display: flex;
    align-items: center;
    padding: 60px 10%;
    background:
        linear-gradient(
            120deg,
            rgba(91, 33, 182, .90),
            rgba(168, 85, 247, .65),
            rgba(244, 114, 182, .35)
        ),
        url("../img/house.jpg");
    background-size: cover;
    background-position: center;
}


/*

SECTION PROJECTS   

*/
.section {
    padding: 90px 0;
}

.hero-service{ 
    background-color: #f1f5f9;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}   
/* 

   PROYECTOS

   */

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* 
   -----------TARJETAS----------

 */

.project {
    width: 70%; /*-----TAMAÑO DE LAS TARJETAS-----*/
    background-color: white;
    border-radius: 12px;
    overflow: hidden;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.08);

    transition:
        transform 0.3s,
        box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-8px);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.14);
}

/* ==============================
   IMAGEN
================================ */

.project-img {
    height: 80px;
    overflow: hidden;
}

.projects-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: transform 0.4s;
}

.project:hover .project-img img {
    transform: scale(1.06);
}

/* ==============================
   CONTENIDO
================================ */

.project-content {
    padding: 25px;
}

.project h3 {
    color: #0f172a;
    font-size: 21px;
    margin-bottom: 12px;
}

.project p {
    color: #64748b;
    margin-bottom: 20px;
}